
.vs/Labb1/config/applicationhost.config
.vs/Labb1/DesignTimeBuild/.dtbcache
.vs/Labb1/v16/.suo
.vs/Labb1/v16/Server/sqlite3/db.lock
.vs/Labb1/v16/Server/sqlite3/storage.ide
.vs/Labb1/v16/Server/sqlite3/storage.ide-shm
.vs/Labb1/v16/Server/sqlite3/storage.ide-wal
