@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
@foreach (var product in Model)
{
<div>
	--------------------
	<h2>@product.Name</h2>
	<h3>@product.Price SEK</h3>
	<button>Add to chart</button> <br />
	--------------------
</div> 
}
